@use 'src/styles/vars';

.form-container {
  background-color: #fff;
  width:35%;
  margin: -8rem auto 0 auto;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    &--span {
      border: 2px solid vars.$LightGrayishDark;
      width:1rem;
      height:1rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &--input {
      width:95%;
      border: none;
    }

}

#dark .form-container {
  background-color: vars.$VeryDarkGrayishDark;
  color: vars.$LightGrayishDark;

    &--span {
      border: 2px solid vars.$VeryDarkGrayiDark;
    }

    &--input {
     background-color: vars.$VeryDarkGrayishDark;
    }
}
