$VeryLightGrayLight: hsl(0, 0%, 98%);
$VeryLightGrayishLight: hsl(236, 33%, 92%);
$LightGrayishLight: hsl(233, 11%, 84%);
$DarkGrayishLight: hsl(236, 9%, 61%);
$VeryDarkGrayishLight: hsl(235, 19%, 35%);

$VeryDarkDark: hsl(235, 21%, 11%);
$VeryDarkDesaturatedDark: hsl(235, 24%, 19%);
$LightGrayishDark: hsl(234, 39%, 85%);
$VeryLightGrayishDark: hsl(236, 33%, 92%);
$DarkGrayishDark: hsl(234, 11%, 52%);
$VeryDarkGrayiDark: hsl(233, 14%, 35%);
$VeryDarkGrayishDark: hsl(237, 14%, 26%);