
.header-container{
  height:18rem;
  background-image: url('./../../../images/bg-desktop-light.jpg');
  background-size: cover;
}

#dark .header-container{
  background-image: url('./../../../images/bg-desktop-dark.jpg');
}

.navbar-container {
  width:35%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;

  &--logo {
    font-size: 2rem;
    font-weight: bolder;
    color:white;
    letter-spacing: 0.4rem;
  }

  &--img {
    cursor: pointer;
  }
}
